:root {
    font-size: 16px;
}

html, body {
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: #222;
    color: #ffe;
    overflow-x: hidden;
}

.nav-bar {
    width: 100vw;
    height: 20px;
    background-color: lightseagreen;
    border-radius: 0 0 8px 8px;
    margin-left: 2px;
    position: absolute;
    top: 0;
    left: 0;
    
}
#About_me {
    font-family: 'Courier New', courier, monospace;
    color: #ffffff;
} 

body {
    font-size: 1rem;
    padding-top: 20px;
}


h1 {
    font-size: 1.5rem;
}

p, a, h1, h2, h3, h4, h5, h6, span {
    margin-left: 1rem;
    margin-right: 1rem;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 2px solid lightblue;
    border-radius: 20px;
    width: 1000px;
    height: 30px;
}

#button {
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

#button:hover {
    color: green;
}