html {
    background-color:#f1f1f1;
    font-family: "Raleway", sans-serif;
}

body {
    width: 650px;
    height: 870px;
    max-height: 1400px;
    max-width: 1400px;
    background-color:#ffffff;
    padding-left: 10px;

}

.header {
    text-align: center;
    padding: 32px;
}



/*
.circle {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 2px solid lightblue;
    border-radius: 20px;
    width: 1000px;
    height: 30px;
}
*/